.servers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    box-shadow: 4px 4px 3px $border-color;
    &.first {
        border: solid 2px $gold;
        & .rank {
            background-color: $gold;
        }
    }
    &.second {
        border: solid 2px $silver;
        & .rank {
            background-color: $silver;
        }
    }
    &.third {
        border: solid 2px $bronze;
        & .rank {
            background-color: $bronze;
        }
    }
    & .row {
        margin: 0;
        padding: 0;
    }
    & > .rank{
        position: absolute;
        top: -15px;
        left: -15px;
        width: 35px;
        height: auto;
        border: solid 1px $border-color;
        border-radius: 3px;
        padding: 0.3em 0.8em;
        font-size: 15px;
        font-weight: bold;
        background-color: #f0f0f0;
    }
    & .avis,.clicks,.votes {
        padding: 0.5em 0;
    }
    & .clicks {
        border-left: solid 1px $border-color;
        border-right: solid 1px $border-color;
    }
    & .logo , .host {
        position: absolute;
        max-width: 64px;
        max-height: 64px;
        z-index: 1;
    }
    & .logo {
        top: 20px;
        left: -50px;
    }
    & .host {
        top: -32px;
        left: -35px;
    }
    & .banner {
        padding: 0;
        & img {
            width: 100%;
            max-width: 300px;
            height: auto;
            max-height: 150px;
        }
    }
    & .slots, .access, .ip, .tags, .langs {
        border: solid 1px $border-color;
        border-radius: 0.25em;
        margin: 0.25em auto;
        padding: 0.25em;
        & span {
            line-height: 1.5em;
        }
    }
    & .slots-ip {
        padding: 0 0.25em;
        border-right: solid 1px $border-color;
        & .slots {
            height: 30px;
            padding: 0 0.5em;
            line-height: 2em;
            & svg {
                margin: 0 0 0 1.5em;
            }
        }
        & .access {
            border: none;
            font-size: 1.2em;
            & .fa-unlock {
                color: $green;
            }
            & .fa-lock {
                color: $red;
            }
        }
    }
    & .tags-langs {
        padding: 0 0.25em;
        & .tags,.langs{
            height: 36px;
            padding: 0.25em 0.35em;
        }
        & .langs img{
            width: 1.5em;
        }
    }
}
